/* mall page.css*/
    body{
    }

    /* HEADER */
     h1 {
      font-family:"Brush Script MT";
      font-size: clamp(1em, 10vw, 6em);
      font-weight:3pt;
      transform: rotate(-7deg);
      display:block;
      line-height: 1em;
      text-align: center;
      max-width:100%;
      margin-left:20vw;
      margin-right:20vw;
    }



    /* BODY TEXT STYLES */
  .bodytext{
      font-family:"Arial Narrow";
      font-size:1.5em;
      margin-left:20vw;
      margin-right:20vw;
  }
  .credits { 
      font-family:"Arial Narrow";
      font-size:1.2em;
      text-align: center;
    }
  .mallname{
      font-family: 'Brush Script MT';
      transform: rotate(-7deg);
      display: inline-block;
      font-size:1.1em;
      position:relative;
      top:-5px;
      line-height: 1em
    }
    a{
      font-family: 'Comic Sans MS';
      font-size: .9em;
    }
    #author {
    font-family:"Snell Roundhand";
      font-size:1em;
    }
    #date {
      font-family:"Bradley Hand";
      font-size:1em;
    }

  /* IMAGES */

  .fish{
    width:20%;
    height: auto;
  }
