/* mall page.css*/
    body{
      margin-left:20vw;
      margin-right:20vw;
    }
    p {
      font-family:"Arial Narrow";
      font-size:1.5em;
    
    }
     h1 {
      font-family:"Luminari";
      font-size: 6em;
      transform: rotate(4deg);
      display:inline-block;
      text-transform: uppercase;
      letter-spacing: .05em;
      text-align: center;
      width: 100%;

    }
  .credits { 
      font-family:"Arial Narrow";
      font-size:2em;
      text-align: center;
    }
    .mallname{
      font-family: 'Luminari';
      transform: rotate(4deg);
      display: inline-block;
      text-transform: uppercase;
      font-size:1.1em;
      letter-spacing: .05em;
      position:relative;
      top:-5px;
      line-height: 1em
    }
    a{
      font-family: 'Comic Sans MS';
      font-size: .9em;
    }
    #author {
    font-family:"Snell Roundhand";
      font-size:1em;
    }
    #date {
      font-family:"Bradley Hand";
      font-size:1em;
    }
    }