/* mall page.css*/
    p {
      font-family:"Arial Narrow";
      font-size:1.4em;
    }
     h1 {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight:300px;
      font-size: 4em;
      text-transform: lowercase;
      transform: rotate(-5deg);
      display:inline-block;

    }
    .credits { 
      font-family:"Arial Narrow";
      font-size:1.4em;
    }
    .mallname{
      font-family: 'Brush Script Std';
      transform: rotate(-10deg);
      display: inline-block;
      font-size:1.1em;
      position:relative;
      top:-5px;
      line-height: 1em
    }
    a{
      font-family: 'Comic Sans MS';
      font-size: .9em;
    }
    #author {
    font-family:"Snell Roundhand";
      font-size:1em;
    }
    #date {
      font-family:"Bradley Hand";
      font-size:1em;
    }